.blog-bazar { }

.blog-bazar .blog-bazar-header {
	height: 60px;
	border-bottom: 1px solid #e0dfdf;
	margin-bottom: 13px;
	position: relative;
}

/* ***** DATE ***** */

.blog-bazar .blog-bazar-header .date {
	color: #909091;
	width: 40px;
	height: 50px;
	border-right: 1px solid #d7d3d3;
	padding: 5px;
	margin: 0px 15px 0px 0px;
	text-align: center;
	float: left;
}
.blog-bazar:first-child .blog-bazar-header .date { color:#373736; }

.blog-bazar .blog-bazar-header .date .month {
	margin-bottom: 4px;
	font-size: 17px;
	font-family: 'Oswald';
	text-transform: uppercase;
	display: block;
}

.blog-bazar .blog-bazar-header .date .day {
	font-size: 28px;
	font-family: 'Oswald';
	display: block;
}

/* ***** TITLE ***** */

.blog-bazar .blog-bazar-header .post-title,
.blog-bazar .blog-bazar-header .post-title a {
	padding: 0px !important;
	margin-top: 10px;
	text-transform: uppercase;
	float: left;
}
.blog-bazar .blog-bazar-header .post-title:hover,
.blog-bazar .blog-bazar-header .post-title a:hover { color: #995d08; }
.blog-bazar:first-child .blog-bazar-header .post-title,
.blog-bazar:first-child .blog-bazar-header .post-title a { margin-top: 5px; }

.blog-bazar .blog-bazar-header .meta { display: none; }
.blog-bazar:first-child .blog-bazar-header .meta {
	color: #909091;
	font-size: 13px;
	font-family: 'Play';
	top: 33px;
	left: 67px;
	position: absolute;
	display: block;
}
.blog-bazar:first-child .blog-bazar-header .meta a { color: #995d08; font-size: 13px; }

/* ***** COMMENTS ***** */

.blog-bazar .blog-bazar-header .comments {
	height: 60px;
	margin: 0px;
	position: relative;
	float: right;
}
.blog-bazar .blog-bazar-header .comments .blog-bazar-comment-icon {
	width: 32px;
	height: 32px;
	background: url('../images/icon-comment.png') 0px -32px no-repeat;
	position: absolute;
	top: 0px;
	right: 8px;
}
.blog-bazar:first-child .blog-bazar-header .comments .blog-bazar-comment-icon { background-position-y: 0px; }
.blog-bazar .blog-bazar-header .comments span,
.blog-bazar .blog-bazar-header .comments span a {
	color: #909091;
	font-family: 'Oswald';
	font-size: 23px;
    min-width: 130px;
	right: 0px;
	bottom: 3px;
	position: absolute;
    text-align: right;
}
.blog-bazar .blog-bazar-header .comments span:hover,
.blog-bazar .blog-bazar-header .comments span a:hover { color: #cecece; }
.blog-bazar:first-child .blog-bazar-header .comments span,
.blog-bazar:first-child .blog-bazar-header .comments span a { color: #373736; }

/* ***** THUMBNAIL ***** */
.blog-bazar .thumbnail {
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px;
    padding: 0px;
    margin-bottom: 15px;
    display: none;
}
.blog-bazar:first-child .thumbnail { display: block; }
.blog-bazar:first-child .without.thumbnail { display: none !important; }
.blog-bazar:first-child .thumbnail ul { border: 0px; padding: 0px; margin: 0px; }
.blog-bazar:first-child .thumbnail ul li { border: 0px; padding: 0px; margin: 0px; }
.blog-bazar:first-child .thumbnail .post_video { margin: 0px; }
.blog-bazar .thumbnail .border {
	height: auto !important;
    border-width: 1px;
    padding: 5px;
    box-shadow: 1px 1px 3px #dfdfdf;
}
.blog-bazar .thumbnail .border img {
	width: 100%;
}

.blog-bazar .thumbnail blockquote { padding-bottom: 35px !important; margin: 0px !important; }

/* ***** CONTENT ***** */
#content-blog .blog-bazar .the-content {
	border-bottom: 1px solid #d7d3d3;
	padding-bottom: 40px;
	margin-bottom: 10px;
}
.blog-bazar .the-content {
	color: #666565;
	font-family: 'Play';
	display: none;
}
.blog-bazar:first-child .the-content { display: block; }
.blog-bazar .the-content p {
    font-size: 14px;
}
.blog-bazar .the-content p a {
    font-size: 14px;
}
.blog-bazar .the-content p.meta {
    height: 36px;
	line-height: 36px;
	border-top: 3px solid #e0dfdf;
	border-bottom: 3px solid #e0dfdf;
	margin: 20px 0px 0px 0px;
}
.blog-bazar .the-content p.meta span {
    font-size: 12px;
}
.blog-bazar .the-content p.meta span a {
	color: #a06818;
    font-size: 12px;
}

.blog-bazar:first-child .the-content .border { display: none; }




/* ***** QUOTE ***** */

.blog-bazar.format-quote .post-title {
    background-position: 15px 25px;
    font-size: 19px;
    margin-top: 15px;
    padding-left: 50px;
    padding-bottom: 12px;
}

.blog-bazar.format-quote .post-title,
.blog-bazar.format-quote .post-title a {
    font-weight: 400;
    line-height: 22px;
    margin-left: 0px;
}

.blog-bazar.format-quote .post-title cite {
    color: #aa620d;
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-top: 7px;
}

.blog-bazar.format-quote .post-title cite:before { content: "- "; }




/* === RESPONSIVE */
@media (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 979px) {
    
}

@media (max-width: 767px) {
    
}