#maintenance_message { font-size: 15px; font-family: 'Play', sans-serif; color: #5b5b5b; font-style: normal; font-weight: 400; }
#maintenance_newsletter .newsletter-section input.text-field, #maintenance_newsletter .newsletter-section label { font-size: 13px; font-family: 'Play', sans-serif; color: #a09b9b; font-style: normal; font-weight: 400; }
#maintenance_newsletter .newsletter-section input.submit-field { font-size: 14px; font-family: 'Oswald', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.post-title, .post-title a, .blog-big .meta .post-title a, .blog-small .meta .post-title a, .blog-big.format-quote .meta .post-title a, .blog-pinterest .format-quote .post-title, .blog-pinterest .format-quote .post-title a { font-size: 18px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
.blog-big .meta div p, .blog-big .meta div p a, .blog-elegant .meta div p, .blog-elegant .meta div p a, .blog-pinterest .meta div p, .blog-pinterest .meta div p a, .blog-small .meta div p, .blog-small .meta div p a { font-size: 12px; font-family: 'Play', sans-serif; color: #5F5E5E; font-style: normal; font-weight: 400; }
.blog-big .meta a:hover, .blog-small .meta a:hover { color: #333333; }
.blog-big-ribbon .date-comments .date .month, .blog-small-ribbon .date-comments .date .month, .section.blog .post .date .month { font-size: 22px; font-family: 'Oswald', sans-serif; color: #a5a4a4; font-style: normal; font-weight: 400; }
.blog-big-ribbon .date-comments .date .day, .blog-small-ribbon .date-comments .date .day, .section.blog .post .date .day { font-size: 48px; font-family: 'Arbutus Slab', sans-serif; color: #a5a4a4; font-style: normal; font-weight: 400; }
.section.blog .post .meta h4 a, .section.blog .sticky .the-content h4 a { font-size: 12px; font-family: 'Oswald', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.section.blog .post .meta h4 a:hover, .section.blog .sticky .the-content h4 a:hover { color: #d98104; }
.post-title:hover, .post-title a:hover, .blog-big .meta .post-title a:hover,
                            .blog-small .meta .post-title a:hover, .blog-bazar .blog-bazar-header .post-title:hover, .blog-bazar .blog-bazar-header .post-title a:hover,
                            .hentry-post .post-title > a:hover { font-size: 18px; font-family: 'Oswald', sans-serif; color: #D98104; font-style: normal; font-weight: 400; }
#copyright { background: #ffffff; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
#footer { background-color: #ffffff; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
.boxed #wrapper { background-color: #ffffff; }
.contact-form li textarea,#header-sidebar .widget, #header-sidebar .widget-last,code, pre, body hr, #copyright .inner, #footer .inner, .gallery img, .gallery img, .content .archive-list ul, .content .archive-list ul li, .more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img, .thumb-project img, #searchform input, .portfolio-categories ul li, .portfolio-categories ul li:hover, .recent-comments .avatar img, .content .contact-form li.submit-button input, #portfolio .read-more, #portfolio .more-link, #portfolio .read-more:hover, #portfolio .more-link:hover, .accordion-title, .accordion-item-thumb img, form input[type="text"], form textarea, .testimonial-page, div.section-caption .caption, .line, .last-tweets-widget ul li, .toggle p.tab-index, .toggle .content-tab, .testimonial, .google-map-frame, .section.blog .post, .section.blog h4.other-articles, .section.blog .sticky .thumbnail, .section .portfolio-sticky .work-categories, .testimonial, #searchform input, .blog-big .meta p, .blog-big p.list-tags, .blog-small .image-wrap, .comment-container, .image-square-style #comments img.avatar, #comments .comment-author img, .comment-meta, #respond input, #respond textarea, img.comment-avatar, .portfolio-big-image a.thumb, .portfolio-big-image a.more, .portfolio-big-image a.more:hover, .portfolio-big-image .work-thumbnail a.nozoom, .portfolio-big-image .work-skillsdate, .internal_page_item, .gallery-wrap li h5, .gallery-filters, .portfolio-full-description a.thumb, .portfolio-full-description a.more, .portfolio-full-description a.more:hover, .portfolio-full-description .work-skillsdate, .related_img, #portfolio.columns .overlay_a, .yit-widget-content .widget, .slider.thumbnails .showcase-thumbnail img, .slider.thumbnails .showcase-thumbnail img:hover, .slider.thumbnails .showcase-thumbnail.active img, .recent-post .thumb-img img, .widget_archive ul li a, .widget_archive ul li a:hover, .widget_nav_menu ul li a, .widget_nav_menu ul li a:hover, .widget_pages ul li a, .widget_pages ul li a:hover, .widget_categories ul li a, .widget_categories ul li a:hover, #searchform input, .widget_flickrRSS img, .widget_nav_menu ul li a, .widget_pages ul li a, .widget_categories ul li a, .widget_archive ul li a:hover, .widget_nav_menu ul li.current_page_item > a, .widget_pages ul li.current_page_item > a, .widget_categories ul li.current_page_item > a, .testimonial-widget div.name-testimonial, .last-tweets-widget ul li, .yit-widget-content .widget, .portfolio-categories ul li, .recent-comments .avatar img, .more-projects-widget .work-thumb, .more-projects-widget .controls, .more-projects-widget .top, .featured-projects-widget img, .thumb-project img, .picture_overlay, #respond textarea:focus, .section-portfolio-classic .work-projects a.img, .border, #header-cart-search .cart-items, #header-cart-search .cart-subtotal, #header-cart-search .widget_shopping_cart .cart_control, #nav .container, .sitemap h3, .woocommerce.archive .sidebar .widget h3, #copyright .borderz { border-color: #e0dfdf; }
.portfolio-big-image .work-thumbnail .thumb-wrapper:hover, .related_project .related_img:hover, .portfolio-categories ul li:hover, #portfolio .more-link:hover, .portfolio-big-image a.more:hover, #portfolio.columns .overlay_a:hover, .showcase-thumbnail img:hover, .widget_archive ul li a:hover, .widget_nav_menu ul li a:hover, .widget_pages ul li a:hover, .widget_categories ul li a:hover, .picture_overlay:hover, .section-portfolio-classic .work-projects a.img:hover, .section-portfolio-classic .work-projects a.img.active { border-color: #cccccc; }
.testimonial-widget-span .border-1, .recent-posts-home .border-1, .sidebar .cta .border-1, #footer .cta .border-1, div.yit_quick_contact > div, .cart-collaterals .cart_totals .border-1, .widget.contact-info, .sidebar * .border.border-1, .sidebar .widget.contact-info, #map .border { border-color: #F39501; }
.testimonial-widget-span .border-2, .recent-posts-home .border-2, .sidebar .cta .border-2, #footer .cta .border-2, .yit_quick_contact > div:before, .cart-collaterals .cart_totals .border-2,  .widget.contact-info .border, .sidebar * .border.border-2, .sidebar .widget.contact-info .border, .error404 .border-img { border-color: #ECD0A3; }
.error-404-text input#searchsubmit,#respond #commentsubmit,.sidebar .cta .newsletter-submit .submit-field, #footer .cta .newsletter-submit .submit-field, .contact-form li.submit-button input.sendmail, .yit_quick_contact .contact-form li.submit-button input.sendmail { background-color: #c27d05; color: #ffffff; }
.error-404-text input#searchsubmit:hover,#respond #commentsubmit:hover,.sidebar .cta .newsletter-submit .submit-field:hover, #footer .cta .newsletter-submit .submit-field:hover, .contact-form li.submit-button input.sendmail:hover, .yit_quick_contact .contact-form li.submit-button input.sendmail:hover { background-color: #e79c0c; color: #ffffff; }
#sidebar-shop-sidebar .widget .plus { background-color: #2c2b2b; }
#sidebar-shop-sidebar .widget .minus { background-color: #c58408; }
.section-services-bandw .service-wrapper .service .read-more a, .not-btn.more-link, .not-btn.read-more, #portfolio .read-more, #portfolio .more-link { background-color: #c58408; }
.section-services-bandw .service-wrapper .service .read-more a:hover, .not-btn.more-link:hover, .not-btn.read-more:hover, #portfolio .read-more:hover, #portfolio .more-link:hover { background-color: #DA8B00; }
#back-top { background-color: #ffffff; }
#topbar, #topbar .last-tweets li { background-color: #ffffff; }
#header { background-color: #ffffff; background-repeat: repeat; background-position: top left; background-attachment: scroll; }
.boxed #nav .container, .stretched #nav { background-color: #ffffff; }
#nav ul.sub-menu, #nav ul.children { background-color: #ffffff; }
#nav ul li a:hover, #nav ul li:hover a { background-color: #ffffff; }
#nav .current-menu-item > a, #nav .current-menu-ancestor > a, #nav .current_page_ancestor > a,div#nav ul .current_page_item > a { background-color: #ffffff; }
#nav .megamenu ul.sub-menu li.menu-item-custom-content p { color: #a6a3a3; }
#nav .megamenu ul.sub-menu li.menu-item-custom-content span.highlight { color: #5b5959; }
.error-404-text p { font-size: 18px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.error-404-text p a { color: #aa620d; }
.error-404-text p a:hover { color: #d98104; }
#popupWrap div.popup h3.title { font-size: 20px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
div.popup, div.popup_message, div.popup_message p, div.popup_message span { font-size: 12px; font-family: 'Play', sans-serif; color: #747373; font-style: normal; font-weight: 400; }
#popupWrap .popup .border-1 { border-color: #DDDDDD; }
#popupWrap .popup .border-2 { border-color: #F1C070; }
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field { background-color: #C58408; }
#popupWrap .popup .popup-newsletter-section .input-prepend .submit-field:hover { background-color: #e79c0c; }
#portfolios { background: #ffffff url('http://catalog.mountaincovehomes.dev/wp-content/themes/bazar/images/backgrounds/032.jpg'); font-size: 18px; font-family: 'Abel', sans-serif; color: #000000; font-style: italic; font-weight: 700; }
div.box.success-box { font-size: 12px; font-family: 'Play', sans-serif; color: #599847; font-style: normal; font-weight: 400; }
div.box.arrow-box { font-size: 12px; font-family: 'Play', sans-serif; color: #599847; font-style: normal; font-weight: 400; }
div.box.alert-box { font-size: 12px; font-family: 'Play', sans-serif; color: #CA6B1C; font-style: normal; font-weight: 400; }
div.box.error-box { font-size: 12px; font-family: 'Play', sans-serif; color: #883333; font-style: normal; font-weight: 400; }
div.box.notice-box { font-size: 12px; font-family: 'Play', sans-serif; color: #9F6722; font-style: normal; font-weight: 400; }
div.box.info-box { font-size: 12px; font-family: 'Play', sans-serif; color: #277DCE; font-style: normal; font-weight: 400; }
div.box-sections h1, div.box-sections h2, div.box-sections h3, div.box-sections h4, div.box-sections h5, div.box-sections h6, div.box-sections h1 span, div.box-sections h2 span, div.box-sections h3 span, div.box-sections h4 span, div.box-sections h5 span, div.box-sections h6 span { font-size: 16px; font-family: 'Oswald', sans-serif; color: #51595D; font-style: normal; font-weight: 400; }
.call-to-action .incipit h2 { font-size: 20px; font-family: 'Oswald', sans-serif; color: #0C243D; font-style: normal; font-weight: 400; }
.call-to-action .incipit p { font-size: 14px; font-family: 'Play', sans-serif; color: #464444; font-style: normal; font-weight: 400; }
.call-to-action .number-phone, .call-to-action .number-phone a { font-size: 42px; font-family: 'Play', sans-serif; color: #838383; font-style: normal; font-weight: 700; }
.call-to-action-two .incipit { font-size: 20px; font-family: 'Oswald', sans-serif; color: #2c2b2b; font-style: normal; font-weight: 400; }
.call-to-action-two { background-color: #eeeeee; border-color: #cfcece; }
.call-three .text h2 { font-size: 20px; font-family: 'Oswald', sans-serif; color: #030303; font-style: normal; font-weight: 400; }
.call-three .text h4 { font-size: 16px; font-family: 'Play', sans-serif; color: #696464; font-style: normal; font-weight: 400; }
div.call-three { background-color: #f8f7f7; border-color: #f2f0f0; }
.recent-post .text > a { font-size: 12px; font-family: 'Play', sans-serif; color: #1f1f1f; font-style: normal; font-weight: 400; }
.recent-post .text > a:hover { color: #aa620d; }
.recent-post p { font-size: 12px; font-family: 'Play', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
.recent-post .hentry-post p.post-date { font-size: 10px; font-family: 'Play', sans-serif; color: #585555; font-style: normal; font-weight: 400; }
.recent-post .text > a.read-more { font-size: 13px; font-family: 'regular', sans-serif; color: #585555; font-style: normal; font-weight: 700; }
.recent-post .text > a.read-more:hover { color: #d98104; }
.tabs-container ul.tabs li h4 a,.woocommerce_tabs ul.tabs li a, #content .woocommerce_tabs ul.tabs li a, .woocommerce-tabs ul.tabs li a, #content .woocommerce-tabs ul.tabs li a { font-size: 18px; font-family: 'Oswald', sans-serif; color: #8d8d8d; font-style: normal; font-weight: 400; }
.tabs-container ul.tabs li h4 a:hover,.woocommerce_tabs ul.tabs li a:hover, #content .woocommerce_tabs ul.tabs li a:hover, .woocommerce-tabs ul.tabs li a:hover, #content .woocommerce-tabs ul.tabs li a:hover { color: #373736; }
.tabs-container ul.tabs li.current h4 a,.woocommerce_tabs ul.tabs li.active a, #content .woocommerce_tabs ul.tabs li.active a, .woocommerce-tabs ul.tabs li.active a, #content .woocommerce-tabs ul.tabs li.active a { color: #373736; }
.pricing_box.large .header h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #ffffff; font-style: normal; font-weight: 800; }
.pricing_box .header h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #585555; font-style: normal; font-weight: 800; }
.pricing_box h3 { font-size: 17px; font-family: 'Open Sans', sans-serif; color: #585555; font-style: normal; font-weight: 700; }
.pricing_box p.button a, .pricing_box p.button a:hover { font-size: 14px; font-family: 'Open Sans', sans-serif; color: #3f4950; font-style: normal; font-weight: 400; }
.pricing_box, .pricing_box p, .pricing_box ul li { font-size: 12px; font-family: 'Open Sans', sans-serif; color: #808080; font-style: normal; font-weight: 400; }
div.last-tweets-widget ul.tweets-widget li p, div.last-tweets-widget ul.tweets-widget li p a { font-size: 12px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.last-tweets-widget ul.tweets-widget li p a { color: #aa620d; }
div.last-tweets-widget ul.tweets-widget li p a:hover { color: #d98104; }
ul.short li { font-size: 12px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.toggle h4.tab-index a, .toggle h4.tab-index a:hover { font-size: 16px; font-family: 'Oswald', sans-serif; color: #3e3e3e; font-style: normal; font-weight: 400; }
.toggle .content-tab, .toggle .content-tab p { font-size: 12px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
.contact-info .sidebar-nav ul li { font-size: 12px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.icon_list h2 { font-size: 15px; font-family: 'Oswald', sans-serif; color: #2c2b2b; font-style: normal; font-weight: 400; }
div.icon_list ul li, div.icon_list ul li a { font-size: 15px; font-family: 'Play', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
div.icon_list ul li a { color: #000000; }
div.icon_list ul li a:hover { color: #d98104; }
.faq-title .minus { background-color: #C58408; }
.faq-title .plus { background-color: #2C2B2B; }
.testimonial .testimonial-text p, .testimonial .testimonial-text-full p, .testimonial-page .testimonial-text-full p, .testimonial-square-style .testimonial-text p { font-size: 12px; font-family: 'Play', sans-serif; color: #585555; font-style: normal; font-weight: 400; }
.testimonial .testimonial-name a.website, .testimonial .testimonial-name span.website, .testimonial-page .testimonial-name a.website, .testimonial-page .testimonial-name span.website { font-size: 12px; font-family: 'Play', sans-serif; color: #1c1c1c; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li blockquote p a, .testimonials-flexslider ul li blockquote p a { font-size: 24px; font-family: 'Play', sans-serif; color: #747373; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta, .testimonials-slider ul.testimonials li p.meta a, .testimonials-flexslider ul li p.meta a { font-size: 13px; font-family: 'Play', sans-serif; color: #aa620d; font-style: normal; font-weight: 400; }
.testimonial blockquote { font-size: 14px; font-family: 'Arial', sans-serif; color: #2e2d2d; font-style: normal; font-weight: 400; }
.testimonials-slider ul.testimonials li p.meta a:hover, .testimonials-flexslider ul li p.meta a:hover { color: #3e3d3d; }
#footer, #footer p, #footer li, #footer a { font-size: 12px; font-family: 'Play', sans-serif; color: #999898; font-style: normal; font-weight: 400; }
#footer .container a { color: #282828; }
#footer .container a:hover { color: #AA620D; }
#footer h3 { font-size: 14px; font-family: 'Oswald', sans-serif; color: #676768; font-style: normal; font-weight: 400; }
#copyright, #copyright div p, #copyright p, #copyright a, #copyright p a, #copyright div p a { font-size: 12px; font-family: 'Play', sans-serif; color: #999898; font-style: normal; font-weight: 400; }
#copyright a, #copyright div a, #copyright div p a { color: #282828; }
#copyright a:hover, #copyright div a:hover, #copyright div p a:hover { color: #e3910f; }
a, p, li, address, dd, blockquote, td, th, .paragraph-links a, a.text-color, ul.filters li a, .menu-select select, .testimonial-widget li a, .testimonial-widget li p, #search_mini, .newsletter-input input, .newsletter-submit input, .features-tab-container .features-tab-labels li, .features-tab-content, .portfolio-libra .work-projects ul.pagination_nav li a, .widget.text-image { font-size: 14px; font-family: 'Play', sans-serif; color: #747373; font-style: normal; font-weight: 400; }
.error404 .error-404-text p a,.blog-bazar:first-child .blog-bazar-header .meta a,.blog-bazar .the-content p.meta span a,a, a.text-color:hover, ul.filters li a:hover, ul.filters li a.active { color: #995d08; }
.error404 .error-404-text p a:hover,.features-tab-container ul.features-tab-labels li.current-feature,.blog-bazar:first-child .blog-bazar-header .meta a:hover,.blog-bazar .the-content p.meta span a:hover,a:hover, body .login_register a:hover, #multistep_step1 .step1_login_form form.login_checkout .lost_password:hover, .portfolio-libra .work-projects ul.pagination_nav li a:hover, a:hover .title-highlight { color: #d98104; }
#page-meta #yit-breadcrumb, #page-meta #yit-breadcrumb a, .breadcrumbs span, .woocommerce-breadcrumb a, .woocommerce-breadcrumb { font-size: 12px; font-family: 'Play', sans-serif; color: #8d8d8d; font-style: normal; font-weight: 400; }
#page-meta #yit-breadcrumb a:hover, .woocommerce-breadcrumb a:hover { color: #535353; }
#page-meta #yit-breadcrumb a.current, .woocommerce-breadcrumb { color: #363f4a; }
h1, h1 a { font-size: 22px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
h2, h2 a { font-size: 20px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
h3, h3 a { font-size: 17px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
h4, h4 a { font-size: 16px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
h5, h5 a { font-size: 15px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
h6, h6 a { font-size: 14px; font-family: 'Oswald', sans-serif; color: #3e3d3d; font-style: normal; font-weight: 400; }
.slogan h2 { font-size: 30px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
.slogan h3 { font-size: 15px; font-family: 'Oswald', sans-serif; color: #666565; font-style: normal; font-weight: 400; }
.special-font { font-size: 12px; font-family: 'Shadows Into Light', sans-serif; color: #030303; font-style: normal; font-weight: 400; }
h1 span.title-highlight, h2 span.title-highlight, h3 span.title-highlight, h4 span.title-highlight, h5 span.title-highlight, h6 span.title-highlight, .box-sections span.title-highlight, .box-sections-border span.title-highlight { color: #cc9833; }
.sitemap h3 { font-size: 17px; font-family: 'Oswald', sans-serif; color: #b0731f; font-style: normal; font-weight: 400; }
#back-top a, #back-top a:hover { font-size: 12px; font-family: 'Oswald', sans-serif; color: #b0731f; font-style: normal; font-weight: 400; }
#header #logo #textual, span.logo { font-size: 48px; font-family: 'Oswald', sans-serif; color: #373737; font-style: normal; font-weight: 700; }
#header #logo #textual span { font-size: 48px; font-family: 'Oswald', sans-serif; color: #cc9833; font-style: normal; font-weight: 700; }
#header #logo #tagline { font-size: 17px; font-family: 'Play', sans-serif; color: #8d8d8d; font-style: normal; font-weight: 400; }
#topbar, #topbar p, #topbar a, #topbar li { font-size: 14px; font-family: 'Oswald', sans-serif; color: #c5c3c3; font-style: normal; font-weight: 400; }
#topbar a, #topbar #lang_sel a { color: #c5c3c3; }
#topbar a:hover, #topbar #lang_sel a:hover { color: #cc9833; }
#topbar span.welcome_username { color: #828181; }
#header #logo #tagline span { font-size: 17px; font-family: 'Play', sans-serif; color: #cc9833; font-style: normal; font-weight: 400; }
#nav ul li, #nav ul li a, #nav .megamenu ul.sub-menu li.menu-item-custom-content p { font-size: 18px; font-family: 'Oswald', sans-serif; color: #8d8d8d; font-style: normal; font-weight: 400; }
#nav ul li a:hover, #nav li:hover >a { color: #cc9833; }
#nav .current-menu-item > a, #nav .current-menu-ancestor > a, div#nav ul .current_page_item > a, #nav .current_page_ancestor > a, #nav .current-menu-ancestor > a { color: #373736; }
#nav ul li ul li a, #nav .megamenu ul.sub-menu li li a { font-size: 14px; font-family: 'Play', sans-serif; color: #8d8d8d; font-style: normal; font-weight: 400; }
#nav ul li ul li a:hover, #nav .megamenu ul.sub-menu li li a:hover { color: #cc9833; }
#nav ul ul .current-menu-item > a, #nav ul ul .current-menu-ancestor > a, div#nav ul ul .current_page_item > a, #nav .megamenu ul.sub-menu li a, #nav .megamenu ul.sub-menu li li.current-menu-item > a { color: #373736; }
#nav .megamenu ul.sub-menu li a { font-size: 16px; font-family: 'Oswald', sans-serif; color: #cc9833; font-style: normal; font-weight: 400; }
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6,.sidebar .yit_quick_contact h3, .widget.widget_onsale h3, .widget.widget_best_sellers h3, .widget.widget_recent_reviews h3, .widget.widget_recent_products h3, .widget.widget_random_products h3, .widget.widget_featured_products h3, .widget.widget_top_rated_products h3, .widget.widget_recently_viewed_products h3 { font-size: 18px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
.sidebar p, .sidebar li, .sidebar div,div.textwidget p,.yit_toggle_menu ul.menu ul li a,.widget_categories ul > li a,.widget.faq-filters .border ul li a,.last-tweets p a,.recent-comments .the-post .author a,.widget.widget_onsale li a, .widget.widget_best_sellers li a, .widget.widget_recent_reviews li a, .widget.widget_recent_products li a, .widget.widget_random_products li a, .widget.widget_featured_products li a, .widget.widget_top_rated_products li a, .widget.widget_recently_viewed_products li a { font-size: 12px; font-family: 'Play', sans-serif; color: #4f4d4d; font-style: normal; font-weight: 400; }
.sidebar a,.yit_toggle_menu ul.menu ul li a,.widget_categories ul > li a,.widget.faq-filters .border ul li a,.last-tweets p a,.recent-comments .the-post .author a, .widget.widget_onsale li a, .widget.widget_best_sellers li a, .widget.widget_recent_reviews li a, .widget.widget_recent_products li a, .widget.widget_random_products li a, .widget.widget_featured_products li a, .widget.widget_top_rated_products li a, .widget.widget_recently_viewed_products li a { color: #995d08; }
.sidebar a:hover,.yit_toggle_menu ul.menu ul li a:hover,.widget.faq-filters .border ul li a.active,.widget.faq-filters .border ul li a:hover,.widget_categories ul > li a:hover,.widget_layered_nav ul li.chosen a, .widget_product_categories .product-categories li.current-cat a,.recent-comments .the-post .author a:hover,.sidebar .recent-post .text > a:hover,.widget.widget_layered_nav li a:hover,.widget_product_categories .product-categories li a:hover,.widget.widget_onsale li a:hover,.widget.widget_best_sellers li a:hover,.widget.widget_recent_reviews li a:hover,.widget.widget_recent_products li a:hover,.widget.widget_random_products li a:hover,.widget.widget_featured_products li a:hover,.widget.widget_top_rated_products li a:hover,.widget.widget_recently_viewed_products li a:hover { color: #aa620d; }
.testimonial-widget li blockquote p, .testimonial-widget li blockquote p:first-child { font-size: 12px; font-family: 'Play', sans-serif; color: #4f4d4d; font-style: normal; font-weight: 400; }
.testimonial-widget li .name-testimonial { font-size: 14px; font-family: 'Oswald', sans-serif; color: #909091; font-style: normal; font-weight: 400; }
.sidebar .cta .border h3, #footer .cta .border h3, .yit_quick_contact h3 { font-size: 18px; font-family: 'Oswald', sans-serif; color: #be8a0c; font-style: normal; font-weight: 400; }
#header-cart-search .widget_shopping_cart .cart_control { background-color: #c58408; border-color: #e0dfdf; }
#header-cart-search .widget_shopping_cart .cart_control_empty { background-color: #afacac; }
#header-cart-search .widget_shopping_cart .cart_wrapper { background-color: #ffffff; border-color: #dcdcdc; }
#header-cart-search .widget_shopping_cart .cart_wrapper .buttons .button.checkout { background-color: #333333; }
#header-cart-search .widget_shopping_cart .cart_wrapper .buttons .button.checkout:hover { background-color: #828282; }
#header-cart-search .widget_shopping_cart .cart_wrapper .buttons .button { background-color: #c58408; font-size: 12px; font-family: 'Oswald', sans-serif; color: #ffffff; font-style: normal; font-weight: 400; }
#header-cart-search .widget_shopping_cart .cart_wrapper .buttons .button:hover { background-color: #e79c0c; }
ul.products li.product.grid.with-hover .product-actions .add_to_cart_button, ul.products li.product.grid.with-hover .product-actions .view-options { background-color: #333333; color: #f7f7f7; }
ul.products li.product.grid.with-hover .product-actions .add_to_cart_button:hover, ul.products li.product.grid.with-hover .product-actions .view-options:hover { background-color: #555; color: #f7f7f7; }
ul.products li.product.list .description .view-detail { background-color: #333333; color: #F7F7F7; }
ul.products li.product.list .description .view-detail:hover { background-color: #555555; color: #F7F7F7; }
ul.products li.product.grid.classic .product-actions a.details { background-color: #6f6e6e; color: #fff; }
ul.products li.product.grid.classic .product-actions a.details:hover { background-color: #535353; color: #fff; }
ul.products li.product.grid.classic .product-actions a.add_to_cart_button, ul.products li.product.grid.classic .product-actions a.view-options { background-color: #dc8323; color: #fff; }
ul.products li.product.grid.classic .product-actions a.add_to_cart_button:hover, ul.products li.product.grid.classic .product-actions a.view-options:hover { background-color: #be7526; color: #fff; }
ul.products li.product.grid.classic .product-actions a.out-of-stock { background-color: #8e0404; color: #fff; }
.product .single_add_to_cart_button, .cart .button, input.checkout-button.alt.button, .shipping-calculator-form .button, .multistep_step .button, #place_order.button, .single-product .single_add_to_cart_button.button.alt, .price_slider_wrapper button.button, .yith-woo-ajax-reset-navigation .yith-wcan-reset-navigation.button { background-color: #333333; }
div.product form.cart .button:hover, #content div.product form.cart .button:hover, .cart .button:hover, input.checkout-button.alt.button:hover, .shipping-calculator-form .button:hover, .multistep_step .button:hover, #place_order.button:hover, .single-product .single_add_to_cart_button.button.alt:hover, .price_slider_wrapper button.button:hover, .yith-woo-ajax-reset-navigation .yith-wcan-reset-navigation.button:hover { background-color: #555555; }
.product .summary .single_add_to_cart_button, .cart .button, input.checkout-button.alt.button, .shipping-calculator-form .button, .multistep_step .button, #place_order.button, .price_slider_wrapper button.button, .yith-woo-ajax-reset-navigation .yith-wcan-reset-navigation.button { color: #FFFFFF; }
div.product form.cart .button:hover, #content div.product form.cart .button:hover, .cart .button:hover, input.checkout-button.alt.button:hover, .shipping-calculator-form .button:hover, .multistep_step .button:hover, #place_order.button:hover, .price_slider_wrapper button.button:hover, .yith-woo-ajax-reset-navigation .yith-wcan-reset-navigation.button:hover { color: #FFFFFF; }
.widget_price_filter .price_slider_wrapper .ui-widget-content { background-color: #DADADA; }
.widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .ui-slider .ui-slider-handle { background-color: #CD8906; }
.widget.widget_layered_nav .sizes li.chosen .size-filter { color: #c38204; border-color: #dec084; }
ul.products li.product .product-thumbnail .thumbnail-wrapper .added { background-image: url('http://catalog.mountaincovehomes.dev/wp-content/themes/bazar/woocommerce/images/bullets/added.png'); }
#header-cart-search .cart_wrapper ul.cart_list li a { font-size: 14px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
#header-cart-search .cart_wrapper ul.cart_list li a:hover { color: #995D08; }
#header-cart-search .cart_wrapper .cart_list li a.remove_item { font-size: 10px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
#header-cart-search .cart_wrapper .cart_list li a.remove_item:hover { color: #995D08; }
#header-cart-search ul.product_list_widget li .quantity, #header-cart-search ul.product_list_widget li .amount { font-size: 18px; font-family: 'Oswald', sans-serif; color: #8b8b84; font-style: normal; font-weight: 400; }
#header-cart-search .widget_shopping_cart .cart_wrapper .total, #header-cart-search .widget_shopping_cart .cart_wrapper .total .amount { font-size: 18px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
#header-cart-search .cart_wrapper .cart_list li.empty { font-size: 14px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
#header-cart-search #search_mini { font-size: 18px; font-family: 'Oswald', sans-serif; color: #747373; font-style: normal; font-weight: 400; }
ul.products li.product h3 { font-size: 14px; font-family: 'Oswald', sans-serif; color: #3E3D3D; font-style: normal; font-weight: 400; }
ul.products li.product .price { font-size: 14px; font-family: 'Oswald', sans-serif; color: #7C7B7B; font-style: normal; font-weight: 400; }
.product .summary h1.product_title { font-size: 30px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
.product-box .price { font-size: 24px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
div.product-box label, .qnt_label { font-size: 18px; font-family: 'Oswald', sans-serif; color: #373736; font-style: normal; font-weight: 400; }
.variations .select-wrapper a.sbSelector, .variations .select-wrapper select, .variations .sbHolder a.sbSelector, .variations .attribute-options select { font-size: 18px; font-family: 'Oswald', sans-serif; color: #bcbbbb; font-style: normal; font-weight: 700; }
.variations .select-wrapper .sbOptions li a, .variations .sbHolder .sbOptions li a { font-size: 14px; font-family: 'Play', sans-serif; color: #bcbbbb; font-style: normal; font-weight: 400; }.blog-big .meta, .blog-small .meta { background: #ffffff; }